flows1.json
[{"id":"1c789a77.ddc746","type":"tab","label":"Dashoborad","disabled":false,"info":""},{"id":"ca730d58.942f4","type":"tab","label":"Data Aggregation","disabled":false,"info":""},{"id":"3ed75d92.5a8962","type":"mqtt-broker","broker":"quickstart.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:quickstart:Arduino:f00d0b9d320a"},{"id":"63945c24.c6af64","type":"mqtt-broker","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"68f05845.627298","type":"mqtt-broker","broker":"quickstart.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:quickstart:Arduino:e00d0b9d320a"},{"id":"e4d1ad90.6f42a8","type":"websocket-client","path":"ws://chbatech.mybluemix.net/ws/command","wholemsg":"false"},{"id":"fbe57d2a.d39b7","type":"websocket-listener","path":"/ws/command","wholemsg":"false"},{"id":"ed50bae1.46b6","type":"mqtt-broker","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"e3a66581.c93688","type":"websocket-client","path":"ws://chbatech.mybluemix.net/ws/chat","wholemsg":"false"},{"id":"43e02635.879b58","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"},{"id":"ead25434.41784","type":"mqtt-broker","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"c72d414c.2883d","type":"mqtt-broker","broker":"test.mosquitto.org","port":"1883","clientid":"Bean-data"},{"id":"716eb4a6.756f24","type":"mqtt-broker","z":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ad82f4fa.448a9","type":"mqtt-broker","z":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"a344d59d.eedcc","type":"websocket-listener","path":"/ws/message","wholemsg":"false"},{"id":"627ff40a.b68ebc","type":"mqtt-broker","z":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"5ae74cae.5ce944","type":"mqtt-broker","z":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"42408261.42c274","type":"websocket-client","path":"ws://chbatech.mybluemix.net/ws/command","wholemsg":"false"},{"id":"d20ab7bd.cedc48","type":"mqtt-broker","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"22fee0b6.5fb9a","type":"mqtt-broker","broker":"quickstart.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:quickstart:arduino:000d0b9d320c"},{"id":"77bc44f3.8b5024","type":"mqtt-broker","broker":"iot.eclipse.org","port":"1883","clientid":""},{"id":"c67bc146.528a6","type":"mqtt-broker","z":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"1935c1cf.2f58c6","type":"mqtt-broker","broker":"quickstart.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"d:quickstart:arduino:000d0b9d320c"},{"id":"3fd5273e.1c1488","type":"mqtt-broker","broker":"iot.eclipse.org","port":"1883","clientid":""},{"id":"38df404c.e86968","type":"mqtt-broker","z":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"25bd580.724cea8","type":"mqtt-broker","z":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"e6bb03ee.4e67c8","type":"mqtt-broker","z":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"9ee34fc0.91ee5","type":"mqtt-broker","z":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"df302607.7c8c38","type":"mqtt-broker","z":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"8678738c.2e7038","type":"websocket-client","z":"ca730d58.942f4","path":"ws://iotbase.mybluemix.net/ws/warning","wholemsg":"false"},{"id":"4bfb8da0.2b9b84","type":"websocket-listener","z":"ca730d58.942f4","path":"/ws/warning","wholemsg":"false"},{"id":"7dbf7d27.831b34","type":"websocket-client","z":"ca730d58.942f4","path":"ws://iotbase.mybluemix.net/ws/warning","wholemsg":"false"},{"id":"7c857db9.373444","type":"mqtt-broker","z":"","name":"","broker":"mqtt.beebotte.com","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"c1bb18de.eedba8","type":"websocket-listener","z":"","path":"/ws/sensor","wholemsg":"false"},{"id":"c782d5cd.47c67","type":"mqtt-broker","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"7b808c5d.c16cc4","type":"websocket-listener","z":"","path":"WS/sensor2","wholemsg":"false"},{"id":"295d5426.6846a4","type":"comment","z":"1c789a77.ddc746","name":"Pot","info":"","x":90,"y":40,"wires":[]},{"id":"a74ec35a.01cc3","type":"http in","z":"1c789a77.ddc746","name":"Pot View","url":"/pot","method":"get","upload":false,"swaggerDoc":"","x":100,"y":120,"wires":[["ac2cf739.cc714"]]},{"id":"9d53ef63.41d7b","type":"http response","z":"1c789a77.ddc746","name":"","statusCode":"","headers":{},"x":545.6666259765625,"y":114.94049072265625,"wires":[]},{"id":"44801a4c.1a5c2c","type":"inject","z":"ca730d58.942f4","name":"Alert","topic":"","payload":"{ \"d\": { \"myName\": \"BeanPot6\", \"a\": 1, \"l\": 3, \"t\": 29.12, \"h\": 87.25, \"p\": 1004.11, \"z\": 247, \"b\": 255 } }","payloadType":"str","repeat":"","crontab":"","once":false,"x":490,"y":60,"wires":[["7258e661.4b97e8"]]},{"id":"7258e661.4b97e8","type":"json","z":"ca730d58.942f4","name":"","x":613.3809661865234,"y":117.61905097961426,"wires":[["d0088542.df3f48","f1e7d55b.69d0d8"]]},{"id":"6837cb81.22c54c","type":"inject","z":"ca730d58.942f4","name":"Warning","topic":"","payload":"{ \"d\": { \"myName\": \"BeanPot6\", \"a\": 1, \"l\": 70, \"t\": 28.12, \"h\": 76.25, \"p\": 1004.11, \"z\": 247, \"b\": 255 } }","payloadType":"str","repeat":"","crontab":"","once":false,"x":312.8809509277344,"y":56.61904430389404,"wires":[["7258e661.4b97e8"]]},{"id":"60a04f1f.3677e","type":"inject","z":"ca730d58.942f4","name":"Caution","topic":"","payload":"{ \"d\": { \"myName\": \"BeanPot6\", \"a\": 1, \"l\": 70, \"t\": 25.12, \"h\": 76.25, \"p\": 1004.11, \"z\": 247, \"b\": 255 } }","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":146.21430206298828,"y":58.61904525756836,"wires":[["7258e661.4b97e8"]]},{"id":"baa8e79f.ce783","type":"mqtt in","z":"ca730d58.942f4","name":"","topic":"iotgadget3/3GIM2","qos":"2","datatype":"auto","broker":"7c857db9.373444","x":130,"y":140,"wires":[["a2552029.63bcc8","7258e661.4b97e8"]]},{"id":"16666880.7f2dd8","type":"debug","z":"ca730d58.942f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":815.8811416625977,"y":117.61903381347656,"wires":[]},{"id":"c36534d6.bb7ef8","type":"comment","z":"ca730d58.942f4","name":"エラー対応法","info":"534-5.7.14”というエラーになる場合、\nこの設定が必要になる。\nGmailにログインした状態で下記URLにアクセス \nhttps://accounts.google.com/DisplayUnlockCaptcha\nGoogleアカウントへのアクセスを許可する \n\n\nGmailにログインした状態で以下のURLにアクセス \nhttps://security.google.com/settings/security/activity\n「該当のアクティビティに心当たりがある」と回答すると\nブロックが解除。\n","x":1210,"y":680,"wires":[]},{"id":"7f791a9c.d85be4","type":"inject","z":"ca730d58.942f4","name":"Act","topic":"","payload":"{ \"d\": { \"myName\": \"BeanPot6\", \"a\": 1, \"l\": 70, \"t\": 23.12, \"h\": 45.25, \"p\": 1024.11, \"z\": 247, \"b\": 255 } }","payloadType":"str","repeat":"","crontab":"","once":false,"x":656.214277267456,"y":61.952378273010254,"wires":[["7258e661.4b97e8"]]},{"id":"dd7d851.5e611f8","type":"inject","z":"ca730d58.942f4","name":"Non Act","topic":"","payload":"{ \"d\": { \"myName\": \"BeanPot6\", \"a\": 0, \"l\": 70, \"t\": 23.12, \"h\": 45.25, \"p\": 984.11, \"z\": 247, \"b\": 255 } }","payloadType":"str","repeat":"","crontab":"","once":false,"x":837.8809928894043,"y":58.61904335021973,"wires":[["7258e661.4b97e8"]]},{"id":"bf19048a.5151b8","type":"function","z":"ca730d58.942f4","name":"Heatstroke check","func":"// Defined by Ministry of Health, Labour and Welfare\n// http://www.mhlw.go.jp/houdou/2009/06/dl/h0616-1b.pdf\nvar temp = {payload:msg.payload.d.t};\nvar hum = {payload:msg.payload.d.h};\nvar act = {payload:msg.payload.d.a};\nvar chk = 0;\ntemp= Math.floor( temp.payload );\nhum = hum.payload;\nact = act.payload;\nswitch(temp)\n\t{\n//\t\tcase\t22:\n//\t\t\tif (hum > 95)  chk = 1;\n//\t\t\tbreak;\n\t\tcase\t23:\n\t\t\tif (hum > 95)  chk = 1;\n\t\t\tbreak;\n\t\tcase\t24:\n\t\t\tif (hum > 85)  chk = 1;\n\t\t\tbreak;\n\t\tcase\t25:\n\t\t    if (hum > 80 && hum <= 95)  chk = 1;\n\t\t    else if (hum > 95)  chk = 2;\n\t\t    \tbreak;\n\t\tcase\t26:\n\t\t    if (hum > 70 && hum <= 85)  chk = 1;\n\t\t    else if (hum > 85)  chk = 2;\t\t    \n\t\t    \tbreak;\n\t\tcase\t27:\n\t\t    if (hum > 65 && hum <= 80)  chk = 1;\n\t\t    else if (hum > 80)  chk = 2;\t\t    \n\t\t    \tbreak;\n\t\tcase\t28:\n\t\t    if (hum > 60 && hum <= 70)  chk = 1;\n\t\t    else if (hum > 70 && hum <= 95)  chk = 2;\n\t\t    else if (hum > 95)  chk = 3;\n\t\t    \tbreak;\n\t\tcase\t29:\n\t\t    if (hum > 50 && hum <= 65)  chk = 1;\n\t\t    else if (hum > 65 && hum <= 85)  chk = 2;\n\t\t    else if (hum > 85)  chk = 3;\t\t    \n\t\t    \tbreak;\n\t\tcase\t30:\n\t\t    if (hum > 45 && hum <= 60)  chk = 1;\n\t\t    else if (hum > 60 && hum <= 80)  chk = 2;\n\t\t    else if (hum > 80)  chk = 3;\t\t    \n\t\t    \tbreak;\n\t\tcase\t31:\n\t\t    if (hum > 40 && hum <= 55)  chk = 1;\n\t\t    else if (hum > 55 && hum <= 75)  chk = 2;\n\t\t    else if (hum > 75)  chk = 3;\t\t    \n\t\t    \tbreak;\n\t\tcase\t32:\n\t\t    if (hum > 35 && hum <= 45)  chk = 1;\n\t\t    else if (hum > 45 && hum <= 65)  chk = 2;\n\t\t    else if (hum > 65)  chk = 3;\t\t    \n\t\t    \tbreak;\n\t\tcase\t33:\n\t\t    if (hum > 30 && hum <= 40)  chk = 1;\n\t\t    else if (hum > 40 && hum <= 60)  chk = 2;\n\t\t    else if (hum > 60)  chk = 3;\t\t    \n\t\t    \tbreak;\n\t\tcase\t34:\n\t\t    if (hum > 25 && hum <= 35)  chk = 1;\n\t\t    else if (hum > 35 && hum <= 55)  chk = 2;\n\t\t    else if (hum > 55)  chk = 3;\t\t    \n\t\t    \tbreak;\n\t\tcase\t35:\n\t\t    if (hum > 20 && hum <= 30)  chk = 1;\n\t\t    else if (hum > 30 && hum <= 50)  chk = 2;\n\t\t    else if (hum > 50)  chk = 3;\t\t    \n\t\t    \tbreak;\n\t\tcase\t36:\n\t\t    if (hum <= 25)  chk = 1;\n\t\t    else if (hum > 25 && hum <= 45)  chk = 2;\n\t\t    else if (hum > 45)  chk = 3;\t\t    \n\t\t    \tbreak;\n\t\tcase\t37:\n\t\t    if (hum <= 20)  chk = 1;\n\t\t    else if (hum > 20 && hum <= 40)  chk = 2;\n\t\t    else if (hum > 40)  chk = 3;\t\t    \n\t\t    \tbreak;\n\t\tcase\t38:\n\t\t    if (hum <= 35)  chk = 2;\n\t\t    else if (hum > 35)  chk = 3;\t\t    \n\t\t    \tbreak;\n\t\tcase\t39:\n\t\t    if (hum <= 30)  chk = 2;\n\t\t    else if (hum > 30)  chk = 3;\t\t    \n\t\t    \tbreak;\n\t\tcase\t40:\n\t\t    if (hum <= 25)  chk = 2;\n\t\t    else if (hum > 25)  chk = 3;\n\t\t    \tbreak;\n\t}\n\tvar heats_alert = chk;\n    msg.heats_alert = heats_alert;\nglobal.set('heats_alert', heats_alert );\nif (act == 1) {\n    node.send(msg);\n    }\nreturn;\n","outputs":1,"noerr":0,"x":171.54764556884766,"y":378.2857131958008,"wires":[["d9d6b040.b67548","e3f0729d.4628b"]]},{"id":"d9d6b040.b67548","type":"debug","z":"ca730d58.942f4","name":"","active":false,"console":"false","complete":"heats_alert","x":363.2143440246582,"y":435.6190547943115,"wires":[]},{"id":"e3f0729d.4628b","type":"switch","z":"ca730d58.942f4","name":"","property":"heats_alert","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","outputs":4,"x":367.61906814575195,"y":378.6666622161865,"wires":[[],["a8ae3425.d0a918"],["fbd45324.2fdc8"],["29e879e9.55183e"]]},{"id":"e8a9b36a.eba6f8","type":"trigger","z":"ca730d58.942f4","op1":"1","op2":"0","op1type":"pay","op2type":"nul","duration":"15","extend":false,"units":"min","reset":"","name":"","x":744.7619514465332,"y":415.57145977020264,"wires":[["3c4ba895.c7d2a8","ff8bfbb.06da988"]]},{"id":"3c4ba895.c7d2a8","type":"debug","z":"ca730d58.942f4","name":"","active":false,"console":"false","complete":"false","x":823.095386505127,"y":468.4285640716553,"wires":[]},{"id":"92dba79.c8ab458","type":"comment","z":"ca730d58.942f4","name":"Heatstroke Shield","info":"Defined by Ministry of Health, Labour and Welfare\nhttp://www.mhlw.go.jp/houdou/2009/06/dl/h0616-1b.pdf\nWBGT値２６以上に設定\n","x":161.97624588012695,"y":331.0476131439209,"wires":[]},{"id":"66fcabe9.ee494c","type":"function","z":"ca730d58.942f4","name":"Loitering check","func":"// \nvar t_light = 1;\nvar light = {payload:msg.payload.d.l};\nvar act = {payload:msg.payload.d.a};\nvar chk = 0;\nlight = light.payload;\nact = act.payload;\n\n// Calculate time difference\nvar d = new Date(); \nvar localTime = d.getTime(); // client system time\nvar localOffset = d.getTimezoneOffset() * 60000; // localTime difference in ms\nvar utc = localTime + localOffset; // UTC in ms\nvar offset = -9.0; // time differnce -9 Tokyo\nvar result = utc - (3600000 * offset); \n// \nd = new Date(result);\nvar hour = d.getHours();\nif ((hour >= 22 || hour <= 5) && act == 1 && light < t_light) {chk = 1;}\n//if (act == 1 && light < t_light) chk = 1;\nvar loiter_alert = chk;\nmsg.loiter_alert = loiter_alert;\nmsg.hour = hour;\nglobal.set('loiter_alert', loiter_alert);\nreturn msg;","outputs":1,"noerr":0,"x":159.04764556884766,"y":520.9523754119873,"wires":[["3ab16814.7ec808","b810d605.75a32","835776b5.69c2e8"]]},{"id":"a7ed0066.e11ce","type":"debug","z":"ca730d58.942f4","name":"","active":false,"console":"false","complete":"false","x":812.8809089660645,"y":582.6189632415771,"wires":[]},{"id":"3ab16814.7ec808","type":"switch","z":"ca730d58.942f4","name":"","property":"loiter_alert","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":374.0475959777832,"y":524.2857418060303,"wires":[[],["dc9975e8.bb56e8"]]},{"id":"c7cea87a.6f7c48","type":"trigger","z":"ca730d58.942f4","op1":"1","op2":"0","op1type":"pay","op2type":"nul","duration":"15","extend":false,"units":"min","reset":"","name":"","x":745.7142715454102,"y":529.2857131958008,"wires":[["a7ed0066.e11ce","ff8bfbb.06da988"]]},{"id":"cfd23352.47a0e","type":"comment","z":"ca730d58.942f4","name":"Loitering Shield","info":"","x":156.47615432739258,"y":483.1904354095459,"wires":[]},{"id":"b810d605.75a32","type":"debug","z":"ca730d58.942f4","name":"","active":false,"console":"false","complete":"loiter_alert","x":404.8809789021807,"y":577.9523798624673,"wires":[]},{"id":"e4df95ee.15e87","type":"comment","z":"ca730d58.942f4","name":"Dry Warning Shield","info":"最小湿度25%で実効湿度50%（東京の場合）\n最小湿度:その日の最低\n実効湿度:過去２日の平均","x":157.4285774230957,"y":642.9047298431396,"wires":[]},{"id":"a8476762.033758","type":"debug","z":"ca730d58.942f4","name":"","active":false,"console":"false","complete":"average","x":344.21428298950195,"y":720.6189632415771,"wires":[]},{"id":"ac7fbbe0.712a88","type":"comment","z":"ca730d58.942f4","name":"Pressure Shield","info":"一時間の気圧変化がxxhPa以上の場合\n「爆弾低気圧」は「急速に発達する低気圧」のことで、\n「発達する」というのは「気圧が低くなる」ことです。\n気象庁によれば、緯度によってその基準は変わるものの、\n一般的には１日で約24ヘクトパスカル以上気圧が低くなる\nこととされています。\n\nArray情報の保持は変数同様可能","x":144.76189041137695,"y":817.2380428314209,"wires":[]},{"id":"b56a7116.f8cdf","type":"debug","z":"ca730d58.942f4","name":"","active":false,"console":"false","complete":"my_array","x":385.47608947753906,"y":902.4760980606079,"wires":[]},{"id":"71be8895.55cac","type":"debug","z":"ca730d58.942f4","name":"","active":false,"console":"false","complete":"delta","x":344.42851638793945,"y":944.7143001556396,"wires":[]},{"id":"18d79422.2568d4","type":"function","z":"ca730d58.942f4","name":"Dry warning check S","func":"var every = 15; // measure every xx minutes\nvar times = 192; // record x times  192\nvar hum = {payload:msg.payload.d.h};\nhum = hum.payload;\nvar pre = {payload:msg.payload.d.p};\npre = pre.payload;\nvar myname = {payload:msg.payload.d.myName};\nmyname = myname.payload;\n\nvar my_p_minute = myname + \"_p_minute\";\nvar my_min_hum = myname + \"_min_hum\";\nvar my_array = myname + \"_array\";\n\n\nvar min_hum = context.get(my_min_hum)||100;\nif (min_hum > hum) {min_hum = hum}\ncontext.set(my_min_hum , min_hum);\n\n// Calculate time difference\nvar d = new Date(); \nvar localTime = d.getTime(); // client system time\nvar localOffset = d.getTimezoneOffset() * 60000; // localTime difference in ms\nvar utc = localTime + localOffset; // UTC in ms\nvar offset = -9.0; // time differnce -9 Tokyo\nvar result = utc - (3600000 * offset); \n// \nd = new Date(result);\nvar hour = d.getHours();\nvar minute = d.getMinutes();\n//var minute = d.getSeconds();\nvar p_minute = context.get(my_p_minute) || 0; \n//var minute0 = context.get('minute0') || 0;\n//if (minute === 0) { context.set('min_hum',100)} // min_hum reset hourly\nif (hour ===0 ) { context.set(my_min_hum,100)} // min_hum reset daily\nvar array = context.get(my_array)||new Array (times);\nif (Math.floor(p_minute / every) !=  Math.floor(minute / every)) {  \n    var shifted = array.shift();\n    array.push(hum);\n    context.set(my_array , array);\n    context.set(my_p_minute , minute);\n}    \n//    context.set('p_minute', minute);\nmsg.my_array = array;\nmsg.length = array.length;\nmsg.min_hum = min_hum;\nmsg.hum = hum;\nmsg.minute = minute;\nmsg.p_minute = p_minute;\n\n//Averaging\nvar sum = 0, average = 0;\n    for (i=0; i<msg.length; i++) {\n        sum = sum + msg.my_array[i];\n}\nmsg.sum = sum;\naverage = sum / msg.length;\nmsg.average = average;\n\n//Dry Warning\nvar dry_alert = 0; \nif(min_hum < 25 && average < 50) {dry_alert = 1;}\nelse {dry_alert  = 0;}\nmsg.dry_alert = dry_alert;\nglobal.set('dry_alert', dry_alert);\nreturn msg;","outputs":"1","noerr":0,"x":171.71428298950195,"y":680.2857112884521,"wires":[["a8476762.033758","e73802c5.af86b8","9da44d99.0abf48","542c83ff.403ecc","e27a2345.236ab8"]]},{"id":"e73802c5.af86b8","type":"debug","z":"ca730d58.942f4","name":"","active":false,"console":"false","complete":"min_hum","x":353.71428298950195,"y":755.2857112884521,"wires":[]},{"id":"9da44d99.0abf48","type":"debug","z":"ca730d58.942f4","name":"","active":false,"console":"false","complete":"dry_alert","x":355.71428298950195,"y":791.2857112884521,"wires":[]},{"id":"542c83ff.403ecc","type":"switch","z":"ca730d58.942f4","name":"","property":"dry_alert","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":363.71428298950195,"y":680.2857112884521,"wires":[[],["a1523b4e.333c6"]]},{"id":"a56d403.524c9c","type":"debug","z":"ca730d58.942f4","name":"","active":false,"console":"false","complete":"false","x":829.714282989502,"y":718.2857112884521,"wires":[]},{"id":"fba30d20.b849d","type":"trigger","z":"ca730d58.942f4","op1":"1","op2":"0","op1type":"pay","op2type":"nul","duration":"15","extend":false,"units":"min","reset":"","name":"","x":752.5476455688477,"y":666.9524612426758,"wires":[["a56d403.524c9c","ff8bfbb.06da988"]]},{"id":"efe8bab8.1180d","type":"debug","z":"ca730d58.942f4","name":"","active":false,"console":"false","complete":"pre_alert","x":367.71428298950195,"y":977.2857112884521,"wires":[]},{"id":"165dc636.c7c40a","type":"switch","z":"ca730d58.942f4","name":"","property":"pre_alert","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","outputs":3,"x":361.71427154541016,"y":841.2857131958008,"wires":[["b0b98381.651a58"],["c6720afc.af4368"],["f966decd.613eb"]]},{"id":"c14c9644.4bd93","type":"trigger","z":"ca730d58.942f4","op1":"1","op2":"0","op1type":"pay","op2type":"nul","duration":"15","extend":false,"units":"min","reset":"","name":"","x":746.5476570129395,"y":851.9524593353271,"wires":[["a1f2d49c.66d98","ff8bfbb.06da988"]]},{"id":"a1f2d49c.66d98","type":"debug","z":"ca730d58.942f4","name":"","active":false,"console":"false","complete":"false","x":817.714282989502,"y":905.2857112884521,"wires":[]},{"id":"835776b5.69c2e8","type":"debug","z":"ca730d58.942f4","name":"","active":false,"console":"false","complete":"hour","x":387.71428298950195,"y":611.2857112884521,"wires":[]},{"id":"25e48929.99c4d6","type":"function","z":"ca730d58.942f4","name":"","func":"var heats_alert = global.get('heats_alert');\nmsg.payload.heats_alert = heats_alert;\nvar loiter_alert = global.get('loiter_alert');\nmsg.payload.loiter_alert = loiter_alert;\nvar dry_alert = global.get('dry_alert');\nmsg.payload.dry_alert = dry_alert;\nvar pre_alert = global.get('pre_alert');\nmsg.payload.pre_alert = pre_alert;\nvar non_act = global.get('non_act');\nmsg.payload.non_act = non_act;\nreturn msg;","outputs":1,"noerr":0,"x":541.0475845336914,"y":1094.2857131958008,"wires":[["3e29c37e.6d94cc","71686645.6b38a8"]]},{"id":"44adb97a.4e43b8","type":"debug","z":"ca730d58.942f4","name":"","active":false,"console":"false","complete":"min_pre","x":541.714282989502,"y":933.2857112884521,"wires":[]},{"id":"ac9bfffe.6f7888","type":"debug","z":"ca730d58.942f4","name":"","active":false,"console":"false","complete":"max_pre","x":585.714282989502,"y":975.2857112884521,"wires":[]},{"id":"a8ae3425.d0a918","type":"function","z":"ca730d58.942f4","name":"Caution","func":"var temp = {payload:msg.payload.d.t};\nvar hum = {payload:msg.payload.d.h};\nvar myname = {payload:msg.payload.d.myName};\ntemp = temp.payload;\nhum = hum.payload;\nmyname = myname.payload;\nmsg.payload = \"Be careful for heatstroke. Open windows or use an air conditioner. \" + myname + \" Temp:\" + temp + \" Hum:\" + hum;\nreturn msg;","outputs":1,"noerr":0,"x":565.714282989502,"y":375.28571128845215,"wires":[["57b3bdd5.4a12cc"]]},{"id":"fbd45324.2fdc8","type":"function","z":"ca730d58.942f4","name":"Warning","func":"var temp = {payload:msg.payload.d.t};\nvar hum = {payload:msg.payload.d.h};\nvar myname = {payload:msg.payload.d.myName};\ntemp = temp.payload;\nhum = hum.payload;\nmyname = myname.payload;\nmsg.payload = \"It is critical condition. Need to use an air conditioner. \" + myname + \" Temp:\" + temp + \" Hum:\" + hum;\nreturn msg;","outputs":1,"noerr":0,"x":555.714282989502,"y":413.28571128845215,"wires":[["e8a9b36a.eba6f8"]]},{"id":"29e879e9.55183e","type":"function","z":"ca730d58.942f4","name":"Alert","func":"var temp = {payload:msg.payload.d.t};\nvar hum = {payload:msg.payload.d.h};\nvar myname = {payload:msg.payload.d.myName};\ntemp = temp.payload;\nhum = hum.payload;\nmyname = myname.payload;\nmsg.payload = \"It is dangerous condition. Turn on an air conditioner immediately. \" + myname + \" Temp:\" + temp + \" Hum:\" + hum;\nreturn msg;","outputs":1,"noerr":0,"x":553.714282989502,"y":453.28571128845215,"wires":[["e8a9b36a.eba6f8"]]},{"id":"3e29c37e.6d94cc","type":"websocket out","z":"ca730d58.942f4","name":"","server":"c1bb18de.eedba8","client":"","x":800,"y":1060,"wires":[]},{"id":"1129f89d.0e6f4f","type":"function","z":"ca730d58.942f4","name":"Active check S","func":"// \nvar myname = {payload:msg.payload.d.myName};\nmyname = myname.payload;\nvar my_act_hour = myname + \"_act_hour\";\nvar act = {payload:msg.payload.d.a};\nact = act.payload;\n\n// Calculate time difference\nvar d = new Date(); \nvar localTime = d.getTime(); // client system time\nvar localOffset = d.getTimezoneOffset() * 60000; // localTime difference in ms\nvar utc = localTime + localOffset; // UTC in ms\nvar offset = -9.0; // time differnce -9 Tokyo\nvar result = utc - (3600000 * offset); \n// \n\nd = new Date(result);\nvar hour = d.getHours();\nvar minute = d.getMinutes();\nif ((hour <= 22 || hour >= 5) && act == 1) {\n    act_hour = hour*60 + minute;\n    context.set(my_act_hour, act_hour);\n    }\nvar act_hour = context.get(my_act_hour)||hour*60 + minute;    \nvar non_act = hour*60 + minute - act_hour;\nif (hour > 22 || hour < 5) {\n    non_act = 0;\n    act_hour = hour*60 + minute;\n    context.set(my_act_hour, act_hour);\n    }\nmsg.non_act = non_act;\nmsg.my_act_hour = my_act_hour;\nglobal.set('non_act', non_act);\nreturn msg;","outputs":1,"noerr":0,"x":147.38093948364258,"y":1016.6190242767334,"wires":[["90e5d3f2.9a531","55f26ade.fd3fec","2ce4216c.46c51e"]]},{"id":"90e5d3f2.9a531","type":"debug","z":"ca730d58.942f4","name":"","active":false,"console":"false","complete":"non_act","x":356.5476303100586,"y":1045.6190881729126,"wires":[]},{"id":"ee48cc62.d9efd8","type":"comment","z":"ca730d58.942f4","name":"Active Shield","info":"最後に活動からの時間（分）","x":135.71428298950195,"y":972.2856502532959,"wires":[]},{"id":"55f26ade.fd3fec","type":"delay","z":"ca730d58.942f4","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":333.2142677307129,"y":1093.952338218689,"wires":[["25e48929.99c4d6"]]},{"id":"57b3bdd5.4a12cc","type":"trigger","z":"ca730d58.942f4","op1":"1","op2":"0","op1type":"pay","op2type":"nul","duration":"1","extend":false,"units":"hr","reset":"","name":"","x":749.4285659790039,"y":365.5714302062988,"wires":[["3c4ba895.c7d2a8","ff8bfbb.06da988"]]},{"id":"7aadf798.c2c078","type":"function","z":"ca730d58.942f4","name":"Active check","func":"// \nvar act = {payload:msg.payload.d.a};\nact = act.payload;\n\n// Calculate time difference\nvar d = new Date(); \nvar localTime = d.getTime(); // client system time\nvar localOffset = d.getTimezoneOffset() * 60000; // localTime difference in ms\nvar utc = localTime + localOffset; // UTC in ms\nvar offset = -9.0; // time differnce -9 Tokyo\nvar result = utc - (3600000 * offset); \n// \n\nd = new Date(result);\nvar hour = d.getHours();\nvar minute = d.getMinutes();\nif ((hour <= 22 || hour >= 5) && act == 1) {\n    act_hour = hour*60 + minute;\n    context.set('act_hour', act_hour);\n    }\nvar act_hour = context.get('act_hour')||0;    \nvar non_act = hour*60 + minute - act_hour;\nif (hour > 22 || hour < 5) {\n    non_act = 0;\n    act_hour = hour*60 + minute;\n    context.set('act_hour', act_hour);\n    }\nmsg.non_act = non_act;\nglobal.set('non_act', non_act);\nreturn msg;","outputs":1,"noerr":0,"x":140.29764556884766,"y":1057.2023391723633,"wires":[[]]},{"id":"2ce4216c.46c51e","type":"debug","z":"ca730d58.942f4","name":"","active":false,"console":"false","complete":"my_act_hour","x":585.2976455688477,"y":1018.8689260482788,"wires":[]},{"id":"8fdeed95.08e4e","type":"function","z":"ca730d58.942f4","name":"Pressure check","func":"var every = 15; // measure every xx minutes\nvar times = 4; // record x times  \nvar pre = {payload:msg.payload.d.p};\npre = pre.payload;\nvar min_pre = context.get('min_pre')||1200;\nvar max_pre = context.get('max_pre')||0;\nif (min_pre > pre) {min_pre = pre;}\nif (max_pre < pre) {max_pre = pre;}\ncontext.set('min_pre',min_pre);\ncontext.set('max_pre',max_pre);\n\n// Calculate time difference\nvar d = new Date(); \nvar localTime = d.getTime(); // client system time\nvar localOffset = d.getTimezoneOffset() * 60000; // localTime difference in ms\nvar utc = localTime + localOffset; // UTC in ms\nvar offset = -9.0; // time differnce -9 Tokyo\nvar result = utc - (3600000 * offset); \n// \nd = new Date(result);\nvar hour = d.getHours();\nvar minute = d.getMinutes();\n//var minute = d.getSeconds();\nvar p_minute = context.get('p_minute') || 0; \nvar minute0 = context.get('minute0') || 0;\n//if (minute === 0) { context.set('min_pre',1200)} // min_hum reset hourly\nif (hour === 0) { context.set('min_pre',1200)} // min_hum reset daily\n\nif ( !context.array ) { context.array = new Array (times);}\nif (Math.floor(p_minute / every) !=  Math.floor(minute / every)) {  \n    var shifted = context.array.shift();\n    context.array.push(pre);\n    context.set('p_minute', minute);\n}    \n\nmsg.array = context.array;\nmsg.length = context.array.length;\nmsg.min_pre = min_pre;\nmsg.max_pre = max_pre;\n\n// Calculate delta\nvar sum = 0, average = 0, min = 1200, max = 0, delta = 0, dset = 24;\n    for (i=0; i<msg.length; i++) {\n        sum = sum + msg.array[i];\n        if (max < msg.array[i]) {max = msg.array[i];}\n        if (min > msg.array[i]) {min = msg.array[i];}\n}\nmsg.sum = sum;\naverage = sum / msg.length;\nmsg.average = average;\ndelta = (max *100 - min *100 ) / 100;\nmsg.delta = delta;\nvar pre_alert;\nif (delta > dset){pre_alert = 2;}\nelse if (delta > dset/2){pre_alert = 1;}\nelse {pre_alert = 0;}\nmsg.pre_alert = pre_alert;\nmsg.payload.pre_alert = pre_alert;\nglobal.set('pre_alert', pre_alert);\nreturn msg;","outputs":"1","noerr":0,"x":146.96430206298828,"y":895.5356521606445,"wires":[[]]},{"id":"782f1cbe.7eeaac","type":"function","z":"ca730d58.942f4","name":"Dry warning check","func":"var every = 15; // measure every xx minutes\nvar times = 192; // record x times  \nvar hum = {payload:msg.payload.d.h};\nhum = hum.payload;\nvar min_hum = context.get('min_hum')||100;\nif (min_hum > hum) {min_hum = hum}\ncontext.set('min_hum',min_hum);\n\n// Calculate time difference\nvar d = new Date(); \nvar localTime = d.getTime(); // client system time\nvar localOffset = d.getTimezoneOffset() * 60000; // localTime difference in ms\nvar utc = localTime + localOffset; // UTC in ms\nvar offset = -9.0; // time differnce -9 Tokyo\nvar result = utc - (3600000 * offset); \n// \nd = new Date(result);\nvar hour = d.getHours();\nvar minute = d.getMinutes();\n//var minute = d.getSeconds();\nvar p_minute = context.get('p_minute') || 0; \nvar minute0 = context.get('minute0') || 0;\n//if (minute === 0) { context.set('min_hum',100)} // min_hum reset hourly\nif (hour ===0 ) { context.set('min_hum',100)} // min_hum reset daily\nif ( !context.array ) { context.array = new Array (times);}\nif (Math.floor(p_minute / every) !=  Math.floor(minute / every)) {  \n    var shifted = context.array.shift();\n    context.array.push(hum);\n    context.set('p_minute', minute);\n}    \n//    context.set('p_minute', minute);\nmsg.array = context.array;\nmsg.length = context.array.length;\nmsg.min_hum = min_hum;\nmsg.hum = hum;\nmsg.minute = minute;\nmsg.p_minute = p_minute;\n\n//Averaging\nvar sum = 0, average = 0;\n    for (i=0; i<msg.length; i++) {\n        sum = sum + msg.array[i];\n}\nmsg.sum = sum;\naverage = sum / msg.length;\nmsg.average = average;\n\n//Dry Warning\nvar dry_alert = 0; \nif(min_hum < 25 && average < 50) {dry_alert = 1;}\nelse {dry_alert  = 0;}\nmsg.dry_alert = dry_alert;\nglobal.set('dry_alert', dry_alert);\nreturn msg;","outputs":"1","noerr":0,"x":165.29764556884766,"y":713.869026184082,"wires":[[]]},{"id":"e27a2345.236ab8","type":"debug","z":"ca730d58.942f4","name":"","active":false,"console":"false","complete":"my_array","x":573.6309585571289,"y":737.2023391723633,"wires":[]},{"id":"dc9975e8.bb56e8","type":"function","z":"ca730d58.942f4","name":"Alert","func":"var myname = {payload:msg.payload.d.myName};\nmyname = myname.payload;\nmsg.payload = \"Someone seems to be moving in the dark. \" + myname;\nreturn msg;","outputs":1,"noerr":0,"x":554.2976455688477,"y":528.5357131958008,"wires":[["c7cea87a.6f7c48"]]},{"id":"a1523b4e.333c6","type":"function","z":"ca730d58.942f4","name":"Alert","func":"var myname = {payload:msg.payload.d.myName};\nmyname = myname.payload;\nmsg.payload = \"Dry warninig conditon exist  \" + myname;\nreturn msg;","outputs":1,"noerr":0,"x":560.2976455688477,"y":672.5357131958008,"wires":[["fba30d20.b849d"]]},{"id":"d0088542.df3f48","type":"function","z":"ca730d58.942f4","name":"Temp Adjust","func":"var temp = {payload:msg.payload.d.t};\nvar tempd = {payload:msg.payload.d.o};\nvar hum = {payload:msg.payload.d.h};\ntemp= temp.payload;\ntempd= tempd.payload;\nhum = hum.payload;\nif(tempd){\n// ****  補正温度の数値取得  ****\n            \n                //***  温度シフトによる湿度補正 ***\n                //var tempd = 1.2;        // 補正値\n                console.log('temp  : %f', temp);  \n                console.log('hum  : %f', hum);         \n                var tempr = temp - tempd;　// 補正後気温\n                console.log('tempr  : %f', tempr);    \n                var eT = 6.1078*Math.pow(10, 7.5*temp/(temp+237.3)); // 現状気温から飽和水蒸気圧を算出\n                console.log('eT  : %f', eT);\n                var eTr= 6.1078*Math.pow(10, 7.5*tempr/(tempr+237.3));　// 補正気温から飽和水蒸気圧を算出\n                console.log('eTr  : %f', eTr);\n                var aT = 217*eT/(temp+273.15)*hum/100; // 現状相対湿度から水蒸気量を算出\n                console.log('aT  : %f', aT);\n                hum = aT*(tempr+273.15)/217/eTr*100; // 補正気温と水蒸気量から補正相対湿度を算出\n                hum = Math.floor( hum * 100 ) / 100;\n                console.log('hum  : %f', hum);\n                temp= Math.floor( tempr * 100 ) / 100;\n}                \nmsg.payload.d.t = temp;  \nmsg.payload.d.h = hum;\nreturn msg;","outputs":1,"noerr":0,"x":719.5476455688477,"y":218.28571319580078,"wires":[["bf19048a.5151b8","66fcabe9.ee494c","18d79422.2568d4","1129f89d.0e6f4f","16666880.7f2dd8","48bd780d.bc1b38"]]},{"id":"48bd780d.bc1b38","type":"function","z":"ca730d58.942f4","name":"Pressure check S","func":"var every = 15; // measure every xx minutes\nvar times = 4; // record x times  \nvar pre = {payload:msg.payload.d.p};\npre = pre.payload;\nvar myname = {payload:msg.payload.d.myName};\nmyname = myname.payload;\n\nvar my_p_minute = myname + \"_p_minute\";\nvar my_min_pre = myname + \"_min_pre\";\nvar my_array = myname + \"_array\";\nvar min_pre = context.get(my_min_pre)||1200;\n\n\n// Calculate time difference\nvar d = new Date(); \nvar localTime = d.getTime(); // client system time\nvar localOffset = d.getTimezoneOffset() * 60000; // localTime difference in ms\nvar utc = localTime + localOffset; // UTC in ms\nvar offset = -9.0; // time differnce -9 Tokyo\nvar result = utc - (3600000 * offset); \n// \n\nd = new Date(result);\nvar hour = d.getHours();\nvar minute = d.getMinutes();\n//var minute = d.getSeconds();\nvar p_minute = context.get(my_p_minute) || 0; \nif (hour === 0) { context.set(my_min_pre,1200)} // min_hum reset daily\nvar array = context.get(my_array)||new Array (times);\nif (Math.floor(p_minute / every) !=  Math.floor(minute / every)) {  \n    var shifted = array.shift();\n    array.push(pre);\n    context.set(my_array , array);\n    context.set(my_p_minute , minute);\n}    \n\nmsg.my_array = array;\nmsg.length = array.length;\n\n// Calculate delta\nvar sum = 0, average = 0, min = 1200, max = 0, delta = 0, dset = 24;\n    for (i=0; i<msg.length; i++) {\n        sum = sum + msg.my_array[i];\n        if (max < msg.my_array[i]) {max = msg.my_array[i];}\n        if (min > msg.my_array[i]) {min = msg.my_array[i];}\n}\nmsg.sum = sum;\naverage = sum / msg.length;\nmsg.average = average;\ndelta = (max *100 - min *100 ) / 100;\nmsg.delta = delta;\nvar pre_alert;\nif (delta > dset && min == msg.my_array[msg.length-1]){pre_alert = 3;}\nelse if (delta > dset/2 && min == msg.my_array[msg.length-1]){pre_alert = 2;}\nelse if (delta >= 1 && min == msg.my_array[msg.length-1]){pre_alert = 1;}\nelse {pre_alert = 0;}\nmsg.pre_alert = pre_alert;\nmsg.payload.pre_alert = pre_alert;\nmsg.payload.delta = delta;\nglobal.set('pre_alert', pre_alert);\nreturn msg;","outputs":"1","noerr":0,"x":150.74652862548828,"y":858.4675369262695,"wires":[["165dc636.c7c40a"]]},{"id":"c6720afc.af4368","type":"function","z":"ca730d58.942f4","name":"Alert","func":"var myname = {payload:msg.payload.d.myName};\nmyname = myname.payload;\nvar delta = {payload:msg.payload.delta};\ndelta = Math.floor(delta.payload *100) /100;\nmsg.payload = \"Steep pressure drop detected \" + myname + \": \" + delta +\"hPa\";\nreturn msg;","outputs":1,"noerr":0,"x":570.7464981079102,"y":854.4675369262695,"wires":[["c14c9644.4bd93"]]},{"id":"f966decd.613eb","type":"function","z":"ca730d58.942f4","name":"Alert","func":"var myname = {payload:msg.payload.d.myName};\nmyname = myname.payload;\nvar delta = {payload:msg.payload.delta};\ndelta = Math.floor(delta.payload *100) /100;\nmsg.payload = \"Very steep pressure drop detected \" + myname + \": \" + delta +\"hPa\";\nreturn msg;","outputs":1,"noerr":0,"x":568.7464981079102,"y":888.4675369262695,"wires":[["c14c9644.4bd93"]]},{"id":"b0b98381.651a58","type":"function","z":"ca730d58.942f4","name":"Alert","func":"var myname = {payload:msg.payload.d.myName};\nmyname = myname.payload;\nvar delta = {payload:msg.payload.delta};\ndelta = Math.floor(delta.payload *100) /100;\nmsg.payload = \"Pressure drop detected \" + myname + \": \" + delta +\"hPa\";\nreturn msg;","outputs":1,"noerr":0,"x":568.7464981079102,"y":822.4675369262695,"wires":[["c14c9644.4bd93"]]},{"id":"ff8bfbb.06da988","type":"mqtt out","z":"ca730d58.942f4","name":"","topic":"iotgadget3/speechPot2","qos":"","retain":"","broker":"7c857db9.373444","x":1250,"y":540,"wires":[]},{"id":"a2552029.63bcc8","type":"debug","z":"ca730d58.942f4","name":"","active":false,"console":"false","complete":"false","x":450,"y":154,"wires":[]},{"id":"71686645.6b38a8","type":"debug","z":"ca730d58.942f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":1120,"wires":[]},{"id":"bf37ffb2.e01578","type":"http in","z":"1c789a77.ddc746","name":"3GIM","url":"/iot","method":"get","upload":false,"swaggerDoc":"","x":90,"y":220,"wires":[["aa6b9020.37ea2"]]},{"id":"90a57226.8d8b78","type":"http response","z":"1c789a77.ddc746","name":"","x":905.8452033996582,"y":213.54765605926514,"wires":[]},{"id":"aa6b9020.37ea2","type":"function","z":"1c789a77.ddc746","name":"","func":"msg.payload =  {\"d\": {\n    \"myName\":msg.payload.myName,\n//    \"timestamp\": getCurrentTime(),\n    \"a\":+msg.payload.a,\n    \"l\":+msg.payload.l,\n    \"t\":+msg.payload.t,\n    \"h\":+msg.payload.h,\n    \"p\":+msg.payload.p,\n    \"z\":+msg.payload.z,\n    \"b\":+msg.payload.b,\n    \"k\":+msg.payload.k,\n    \"o\":+msg.payload.o\n}};\nreturn msg;","outputs":1,"noerr":0,"x":361.7500228881836,"y":225.2022933959961,"wires":[["90a57226.8d8b78","ac97107d.e876c8","ccadd678.51909"]]},{"id":"f77e8227.e9e84","type":"inject","z":"1c789a77.ddc746","name":"","topic":"","payload":"{ \"d\": { \"myName\": \"Bean\", \"a\": 1, \"l\": 200, \"t\": 24.00, \"h\": 53.00, \"p\": 1011.00, \"z\": 260, \"b\": 270 } }","payloadType":"string","repeat":"","crontab":"","once":false,"x":111.80952072143555,"y":279.4761371612549,"wires":[["8ec5f565.27a26"]]},{"id":"2fc36c81.116a7c","type":"debug","z":"1c789a77.ddc746","name":"","active":false,"console":"false","complete":"false","x":573.4524002075195,"y":328.15471744537354,"wires":[]},{"id":"8ec5f565.27a26","type":"json","z":"1c789a77.ddc746","name":"","x":360.2380905151367,"y":284.904691696167,"wires":[["2fc36c81.116a7c","ccadd678.51909"]]},{"id":"ac97107d.e876c8","type":"debug","z":"1c789a77.ddc746","name":"","active":false,"console":"false","complete":"payload","x":537.0952606201172,"y":171.6546516418457,"wires":[]},{"id":"ccadd678.51909","type":"mqtt out","z":"1c789a77.ddc746","name":"","topic":"iotgadget3/3GIM2","qos":"","retain":"","broker":"7c857db9.373444","x":963.6188812255859,"y":277.4284896850586,"wires":[]},{"id":"e4b073c1.0b6b9","type":"template","z":"1c789a77.ddc746","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"ja\">\n<head>\n    <meta charset=\"utf-8\">\n    <title>時間の表示</title>\n\n</head>\n<body>\n <h1 id=\"time\"></h1>\n <h2 id=\"time2\"></h2>\n \n <script>\n  // myFunc();\n  /*  function time(){\n        var now = new Date();\n        document.getElementById(\"time\").innerHTML = now.toLocaleString();\n    }\n    setInterval('time()',1000); */\n    \n    \n               // **** 時刻取得しmyIDdateに表示\n            myWeek=new Array(\"Sun\",\"Mon\",\"Tue\",\"Wed\",\"Tur\",\"Fri\",\"Sat\");\n            function myFunc(){\n                myDate=new Date();\n                myMsg = myDate.getFullYear() + \"-\";\n                myMsg += ( myDate.getMonth() + 1 ) + \"-\";\n                myMsg += myDate.getDate() + \"\";\n             //   myMsg += \"(\" + myWeek[myDate.getDay()] +  \") \";\n                myMsg += myDate.getHours() + \":\";\n                myMsg += myDate.getMinutes() + \":\";\n                myMsg += myDate.getSeconds() + \"\";  \n             //   var now = new Date(); \n                document.getElementById(\"time\").innerHTML = myMsg;\n       /*         var now = new Date();\n        document.getElementById(\"time\").innerHTML = now;*/\n            }\n         setInterval('myFunc()',1000);\n    \n  // myFunc2();\n  /*  function time(){\n        var now = new Date();\n        document.getElementById(\"time\").innerHTML = now.toLocaleString();\n    }\n    setInterval('time()',1000); */\n    \n    \n               // **** 時刻取得しmyIDdateに表示\n            myWeek=new Array(\"Sun\",\"Mon\",\"Tue\",\"Wed\",\"Tur\",\"Fri\",\"Sat\");\n            function myFunc2(){\n            /*    myDate=new Date();\n                myMsg = myDate.getFullYear() + \"-\";\n                myMsg += ( myDate.getMonth() + 1 ) + \"-\";\n                myMsg += myDate.getDate() + \"\";\n             //   myMsg += \"(\" + myWeek[myDate.getDay()] +  \") \";\n                myMsg += myDate.getHours() + \":\";\n                myMsg += myDate.getMinutes() + \":\";\n                myMsg += myDate.getSeconds() + \"\";  \n             //   var now = new Date(); \n                document.getElementById(\"time\").innerHTML = myMsg; */\n                var now = new Date();\n        document.getElementById(\"time2\").innerHTML = now;\n            }\n        setInterval('myFunc2()',1000);\n\n    </script>    \n</body>\n</html>","output":"str","x":340,"y":440,"wires":[["9e9a2670.6e0dc"]]},{"id":"290d5849.4949e","type":"http in","z":"1c789a77.ddc746","name":"","url":"/time","method":"get","upload":false,"swaggerDoc":"","x":160,"y":440,"wires":[["e4b073c1.0b6b9"]]},{"id":"9e9a2670.6e0dc","type":"http response","z":"1c789a77.ddc746","name":"","statusCode":"","headers":{},"x":540,"y":460,"wires":[]},{"id":"ac2cf739.cc714","type":"template","z":"1c789a77.ddc746","name":"Neko6 Lion4 Pot","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"ja\">\n    <head>\n\t    <meta charset=\"utf-8\">\n\t    <title>Flowerpot</title>\n        <!--<script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js\"></script>-->\n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js\"></script>\n        <!--<script src=\"//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js\"></script>-->\n        <script src=\"//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n        <script src=\"//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js\"></script>\n        <script src=\"https://www.google.com/jsapi\"></script>\n\n        <style type=\"text/css\">\n            /*  *** 表とグラフを横に並べる設定　なくても動作するが上下に並ぶ　*** */\n            //#list { width:200px;height:100px;float:left; }\n            //#myChart { width:440px;height:250px;float:left; }     \n            #gauge {width:160px;height:160px;float:left; } \n            #gauge1 { width:160px;height:160px;float:left; } \n            #gauge2 { width:160px;height:160px;float:left; } \n            #gauge3 { width:160px;height:160px;float:left; } \n\n            button.button8 {\n                font-size: 0.6em;  /* 文字サイズを1.4emに指定 */\n                font-weight: bold; /* 文字の太さをboldに指定 */\n                padding: 5px 10px; /* 縦方向に10px、* 横方向に20pxの余白を指定 */\n                color: #fff; /* 文字色を白色に指定 */\n                border-style: none; /* ボーダーをなくす */\n                /* ボタンの影の指定\n                 * 影の横幅を2px\n                 * 縦長を2px\n                 * ぼかしを3px\n                 * 広がりを1px\n                 * 色を#666（グレー）に指定 */\n                box-shadow: 2px 2px 3px 1px #666;\n                -moz-box-shadow: 2px 2px 3px 1px #666;\n                -webkit-box-shadow: 2px 2px 3px 1px #666;\n                /* テキストの影の指定\n                 * 影の横幅を1px\n                 * 縦長を1px\n                 * ぼかしを2px\n                 * 色を#000（黒）に指定 */\n                text-shadow: 1px 1px 2px #000;\n                /* グラデーションの指定 */\n                background: -moz-linear-gradient(bottom, #36d, #248 50%, #36d);\n                background: -webkit-gradient(linear, left bottom, left top, from(#36d), color-stop(0.5, #248), to(#36d));\n                /* 角丸の指定 */\n                -moz-border-radius: 5px;\n                -webkit-border-radius: 5px;\n                border-radius: 5px;\n            }\n\n            button.button8:hover {\n                /* 透明度を20%に指定 */\n                opacity: 0.8;\n            }\n        </style>\n        \n        <script type=\"text/javascript\">\n            // ****  タイトルの装飾設定\n            // HTML上に次の描画エリアを作成　<canvas width=\"640\" height=\"120\" id=\"myCanvas\"></canvas>\n            $(function() {\n                // Canvasを取得\n            \tvar canvas = $(\"#myCanvas\").get(0);\n            \tif (! canvas || ! canvas.getContext) return;\n            \t// サイズを取得\n            \tvar w = canvas.width;\n            \tvar h = canvas.height;\n            \t// 2Dコンテクストを取得\n            \tvar context = canvas.getContext(\"2d\");\n            \t// 背景の作成\n            \tcontext.fillStyle = \"#ffffcc\";\t// 塗りつぶしスタイルの設定\n                //context.fillStyle = \"#4169E1\";\t// 塗りつぶしスタイルの設定\n            \tcontext.fillRect(0, 0, w, h);\t// 矩形塗りつぶし\n            \t// 枠の作成\n            \tcontext.strokeStyle = \"#eeaa66\";\t// 線描画スタイルの設定\n            \tcontext.lineWidth = 10;\t\t\t\t// 線の太さを設定\n            \tcontext.strokeRect(0, 0, w, h);\t\t// 矩形線描画\n            \t// 文字描画の共通部分を初期化\n            \tvar text = \"Pot Dashboard\";\t        // 描画する文字列\n            \tcontext.font = \"40px 'Times New Roman'\";\t// フォントの設定\n            \tcontext.textAlign = \"center\";\t\t// 文字列横位置\n            \tcontext.textBaseline = \"middle\";\t// 文字列縦位置\n            \tcontext.lineJoin = \"round\";\t\t\t// 線の角の描画方法\n            \t// 文字周辺枠\n            \tcontext.strokeStyle = \"#aa6633\";\t// 線描画スタイルの設定\n            \tcontext.lineWidth = 10;\t\t\t\t// 線の太さを設定\n            \tcontext.strokeText(text, w / 2, h / 2);\t// 文字列を線描画\n            \t// エンボス光\n            \tcontext.strokeStyle = \"#ffffff\";\t// 線描画スタイルの設定\n            \tcontext.lineWidth = 2;\t\t\t\t// 線の太さを設定\n            \tcontext.strokeText(text, w / 2 - 1, h / 2 - 1);\t// 文字列を線描画\n            \t// エンボス影\n            \tcontext.strokeStyle = \"#884422\";\t// 線描画スタイルの設定\n            \tcontext.strokeText(text, w / 2 + 1, h / 2 + 1);\t// 文字列を線描画\n            \t// 文字本体\n            \tcontext.fillStyle = \"#dd9955\";\t\t// 塗りつぶしスタイルの設定\n            \tcontext.fillText(text, w / 2, h / 2);\t// 文字列を塗りつぶし\n            });\n        \n            // **** 時刻取得しmyIDdateに表示\n            myWeek=new Array(\"Sun\",\"Mon\",\"Tue\",\"Wed\",\"Tur\",\"Fri\",\"Sat\");\n            function myFunc(){\n                myDate=new Date();\n                myMsg = myDate.getFullYear() + \"-\";\n                myMsg += ( myDate.getMonth() + 1 ) + \"-\";\n                myMsg += myDate.getDate() + \"\";\n                myMsg += \"(\" + myWeek[myDate.getDay()] +  \") \";\n                myMsg += myDate.getHours() + \":\";\n                myMsg += myDate.getMinutes() + \":\";\n                myMsg += myDate.getSeconds() + \"\";\n                document.getElementById(\"myIDdate\").innerHTML = myMsg;\n            }\n            \n            /*** 毎時、毎３０分毎にメセージを送信　***/\n            function sendMessage(){\n                var ws = new WebSocket('ws://{{req.headers.host}}/ws/message');\n                msgD = new Date();\n                msgS = msgD.getSeconds();\t//「秒」の取得 (0～59)\n                msgM = msgD.getMinutes();\t//「分」の取得 (0～59) \n                if ( msgM === 0 && msgS ===0 )  {\n                    var sendMes = document.getElementById('oth').value;  //毎時\n                       ws.onopen = function() {\n                        ws.send(sendMes);\n                        }\n                }\n                else if ( msgM == 30 && msgS ===0 ) {\n                    var sendMes = document.getElementById('othh').value; // 毎時３０\n                       ws.onopen = function() {\n                        ws.send(sendMes);\n                        }\n                }\n                else sendMes = \"hoge\";\t// 毎時３０分 \n                document.getElementById(\"myMsg\").innerHTML = sendMes;\n            }          \n             /*** メセージを送信　***/\n            function rtMessage(){\n                var ws = new WebSocket('ws://{{req.headers.host}}/ws/message');\n                    var sendMes = document.getElementById('realt').value;  //毎時\n                       ws.onopen = function() {\n                        ws.send(sendMes);\n                        }\n               document.getElementById(\"myMsg\").innerHTML = sendMes;                        \n            }               \n            \n            \n        \n            // ****  ボタンによる表示切り替え\n            // HTML上以下のボタンを作成\n            //  \t<input type=\"button\" id=\"execButton2\" value=\"データ表示\" onclick=\"dispMessage(0)\">\n            //  \t<input type=\"button\" id=\"execButton2\" value=\"グラフ表示\" onclick=\"dispMessage(1)\">\n            //      <input type=\"button\" id=\"execButton2\" value=\"ゲージ表示\" onclick=\"dispMessage(2)\">\n            var flg = 1; flg1 = 1; flg2 = 1; \n            function dispMessage(btnNo) {\n                if (btnNo == 0) {\n                    if (flg == 0) {\n                        flg = 1;\n                        document.getElementById(\"list\").style.display=\"none\";\n                    }else if (flg == 1) {\n                        flg = 0;\n                        document.getElementById(\"list\").style.display=\"\";\n                    }\n                }\n                if (btnNo == 1) {\n                    if (flg1 == 0) {\n                        flg1 = 1;\n                        document.getElementById(\"myChart\").style.display=\"none\";\n                    }else if (flg1 == 1) {\n                        flg1 = 0;\n                        document.getElementById(\"myChart\").style.display=\"\";\n                    }\n                }\n                if (btnNo == 2) {\n                    if (flg2 == 0) {\n                        flg2 = 1;\n                        document.getElementById(\"gct_sample_gauge\").style.visibility = \"hidden\";\n                    }else if (flg2 == 1) {\n                        flg2 = 0;\n                        document.getElementById(\"gct_sample_gauge\").style.visibility = \"visible\";\n                    }\n                }\n            };  \n            \n            // **** input textで数値以外の入力は消去する\n            function num_only(str){\n                var wnum = str.value;\n                // 数値以外の入力消去\n                document.getElementById(\"deltat\").value=wnum.replace(/[^\\d-.]/g,'');\n                return(str);\n            }\n\n        \n    </script>\n</head>\n\n<body>\n    <!--/*%_skip_end_%*/-->\n    <canvas width=\"640\" height=\"100\" id=\"myCanvas\"></canvas>\n    <!--/*%_skip_start_%*/-->\n    <div style =\"font-size: 12pt\" id=\"myIDdate\">Time</div>\n<!--\n    <div style =\"font-size: 12pt\" id=\"myMsg\"></div>\n-->    \n    <div> \n        Temp adjust：<input type=\"text\" id=\"deltat\" size = \"3\" style =\"font-size: 12pt\" value=\"0\" autofocus maxlength=\"3\" onblur=\"num_only(this)\">℃\n        <input type=\"button\" id=\"execButton2\" value=\"Show Table\" onclick=\"dispMessage(0)\">\n        <button id=\"peoplebutton\" class=\"button8\" type=\"submit\">Someone There</button>\n    </div>\n        <div id=\"currentpot\">Available Pot :</div>\n        <div id=\"warning\">WARNING :</div>\n    <form> \n        Select Pot : <select id=\"potname\">\n        <option value=\"\">Select Name</option>\n        <option value=\"BeanPot0\">BeanPot0</option>\n        <option value=\"BeanPot1\">BeanPot1</option>\n        <option value=\"BeanPot2\">BeanPot2</option>\n        <option value=\"BeanPot3\">BeanPot3</option>\n        <option value=\"BeanPot4\">BeanPot4</option>\n        <option value=\"BeanPot5\">BeanPot5</option>\n        <option value=\"BeanPot6\">BeanPot6</option>\n        <option value=\"BeanPot7\">BeanPot7</option>\n        <option value=\"BeanPotX\">BeanPotX</option>\n        <option value=\"Bean\">Bean</option>\n        </select>\n    <br>\n    \n        <table id = \"list\" border = \"1\">\n            <!-- <table id = \"list\" border = \"1\" style =\"font-size: 18pt\"> -->\n            <tr> \n                <td>Human</td><td align=\"right\" width=\"100\" id = \"input01\"></td> \n            </tr>\n            <tr>\n                <td>Light</td><td align=\"right\" width=\"100\" id = \"input02\"></td> \n            </tr>\n            <tr> \n                <td>Temperature</td><td align=\"right\" width=\"100\" id = \"input03\"></td> \n            </tr>\n            <tr> \n                <td>Humidity</td><td align=\"right\" width=\"100\" id = \"input04\"></td> \n            </tr>\n            <tr>\n                <td>Pressure</td><td align=\"right\" width=\"100\" id = \"input05\"></td> \n            </tr>\n            <tr> \n                <td>Posture</td><td align=\"right\" width=\"100\" id = \"input06\"></td> \n            </tr>\n            <tr>\n                <td>Voltage</td><td align=\"right\" width=\"80\" id = \"input07\"></td> \n            </tr>\n        </table>\n<!--        <div>  \n          \tOn the hour：<input type=\"text\" id=\"oth\" size = \"30\" style =\"font-size: 12pt\" \n          \tplaceholder=\"Input text\" maxlength=\"30\" >\n            <br>  \n          \tOn the half hour：<input type=\"text\" id=\"othh\" size = \"30\" style =\"font-size: 12pt\" \n          \tplaceholder=\"Input text\" maxlength=\"30\" >\n            <br>  \n          \tRealtime when hit button：<input type=\"text\" id=\"realt\" size = \"30\" style =\"font-size: 12pt\" \n          \tplaceholder=\"Input text\" maxlength=\"30\" > \n          \t<input type=\"button\" id=\"speekButton\" value=\"Speek\" onclick=\"rtMessage()\">\n        </div>\n-->        <div id=\"gauge\" ></div>\n        <div id=\"gauge1\"></div>\n        <div id=\"gauge2\"></div>\n        <div id=\"gauge3\"></div><br>\n        <!--<div id=\"gauge3\" style=\"width: 250px; height: 250px;\"></div> -->\n\n    </form>\n    <script type=\"text/javascript\">\n    /*\n        // ****  Beanに送るCommand用Websocketの設定　開始　 ****\n        var cmd = \"red\";  \n        openWs();\n        function openWs() {\n            var wsUri = \"ws://{{req.headers.host}}/ws/command\";\n            //  var ws = new WebSocket(wsUri);\n            ws = new WebSocket(wsUri); // varを付けずGlobal変数に指定\n            ws.onmessage = function(ev) {\n            var payload = JSON.parse(ev.data);\n            console.log('socket.onmessage');\n            };\n            ws.onopen = function(ev) {\n            console.log('socket.connected');\n            };\n            ws.onclose = function(ev) {\n            console.log('socket.closed');\n            //   alert(\"通信が途切れました\");\n            setTimeout(\"openWs()\", 3000);\n            }\n        }\n        // ****  Beanに送るCommand用Websocketの設定 終了 ****  \n    \n        // ****  Beanに送るCommand送信用ボタン用の設定 開始 ****  \n        function sendMessage(btnNo) {\n            if (btnNo == 0) {\n                cmd = \"red\";\n                document.getElementById(\"execButton\").style.visibility = \"hidden\";\n                document.getElementById(\"execButton1\").style.visibility = \"visible\";\n            }\n            else if (btnNo == 1) {\n                cmd = \"off\";\n                document.getElementById(\"execButton1\").style.visibility = \"hidden\";\n                document.getElementById(\"execButton\").style.visibility = \"visible\";\n                dReq= \"未指定\";\n            }\n        \n            var payload = {\n              command: cmd, \n              ts: (new Date()).getTime()\n            };\n            ws.send(JSON.stringify(payload));\n          };\n        // ****  Beanに送るCommand送信用ボタン用の設定 終了 ****    \n    */\n    \n    \n        // ****  Sensorデータ受信用Websocketの設定とリスト表示準備　開始　****\n        // 表示エリアのtextDivと表のinput01-07にデータ表示\n        dReq= \"未指定\";   // varを付けずGlobal変数に指定\n        openWs1();\n        function openWs1() {\n            var wsUri1 = \"wss://{{req.headers.host}}/ws/sensor\";\n            var ws1 = new WebSocket(wsUri1);\n            ws1.onmessage = function(message) {\n                var pot = document.getElementById('potname').value;\n                var payload_sen = JSON.parse(message.data);\n                console.log('sensor.onmessage');\n                console.log('Name  : %s', pot);\n                console.log(payload_sen);\n                var name, act, lit, temp, hum, pres, acZ, bat, key, heats_alert, loiter_alert, dry_alert, pre_alert, non_act;\n                name = payload_sen.d.myName;\n                //name = payload_sen.payload.d.myName;\n                console.log('Pot  : %s', name);\n                document.getElementById(\"currentpot\").innerHTML = \"Available Pot : \" + name;\n              \n                if(name == pot){ \n                    act = payload_sen.d.a;\n                    lit = payload_sen.d.l;\n                    temp = payload_sen.d.t;\n                    hum = payload_sen.d.h;\n                    pres = payload_sen.d.p;\n                    acZ = payload_sen.d.z;\n                    bat = payload_sen.d.b;\n                    //key = payload_sen.payload.d.k;\n\n                    heats_alert = payload_sen.heats_alert;\n                    loiter_alert = payload_sen.loiter_alert;                    \n                    dry_alert = payload_sen.dry_alert;\n                    pre_alert = payload_sen.pre_alert; \n                    non_act = payload_sen.non_act\n                    document.getElementById(\"warning\").innerHTML = \"WARNING : Heatstroke: \" + heats_alert + \"  Loiter: \" + loiter_alert +\"  Dry: \" + dry_alert +\"  Pressure: \" + pre_alert + \"  No act for: \" + non_act +\"min\";                    \n            \n                    // ****  補正温度の数値取得  ****\n                    var tempd = $(\"#deltat\").val();        // 補正値 \n                    console.log('DeltaT  : %f', tempd);\n                \n                    //***  温度シフトによる湿度補正 ***\n                    //var tempd = 1.2;        // 補正値\n                    console.log('temp  : %f', temp);  \n                    console.log('hum  : %f', hum);         \n                    var tempr = temp - tempd;　// 補正後気温\n                    console.log('tempr  : %f', tempr);    \n                    var eT = 6.1078*Math.pow(10, 7.5*temp/(temp+237.3)); // 現状気温から飽和水蒸気圧を算出\n                    console.log('eT  : %f', eT);\n                    var eTr= 6.1078*Math.pow(10, 7.5*tempr/(tempr+237.3));　// 補正気温から飽和水蒸気圧を算出\n                    console.log('eTr  : %f', eTr);\n                    var aT = 217*eT/(temp+273.15)*hum/100; // 現状相対湿度から水蒸気量を算出\n                    console.log('aT  : %f', aT);\n                    hum = aT*(tempr+273.15)/217/eTr*100; // 補正気温と水蒸気量から補正相対湿度を算出\n                    hum = Math.floor( hum * 100 ) / 100;\n                    console.log('hum  : %f', hum);\n                    temp= Math.floor( tempr * 100 ) / 100;\n                    \n\n                    \n                    /*誰か居るとボタンを表示*/\n                    if (act == 0)  document.getElementById(\"peoplebutton\").style.display=\"none\";\n                        else  document.getElementById(\"peoplebutton\").style.display=\"\";\n                \n                    // 表の内容の表示　 DOM要素指定\n                    document.getElementById( \"input01\" ).textContent = act; \n                    document.getElementById( \"input02\" ).textContent = lit+\"lx\"; \n                    document.getElementById( \"input03\"  ).textContent = temp+\"℃\"; \n                    document.getElementById( \"input04\"  ).textContent = hum+\"%\"; \n                    document.getElementById( \"input05\"  ).textContent = pres+\"hPa\"; \n                    document.getElementById( \"input06\"  ).textContent = acZ; \n                    document.getElementById( \"input07\"  ).textContent = bat/100+\"V\"; \n                    //document.getElementById( \"input08\"  ).textContent = key; \n                    gauge(temp, hum, pres, lit)\n            \n                    \n                }\n                    \n            };\n            \n            \n            ws1.onopen = function(message) {\n                console.log('sensor.connected');\n            };\n            ws1.onclose = function(message) {\n                console.log('sensor.closed');\n                //alert(\"通信が途切れました２\");\n            setTimeout(\"openWs1()\", 3000);\n            }\n        }\n        // ****  Sensorデータ受信用Websocketの設定とリスト表示準備　終了　****\n        \n        \n        // ****  Google Gaugeの表示　開始　 src=\"http://www.google.com/jsapi\"必要　****\n        google.load(\"visualization\", \"1\", {packages:[\"gauge\"]}); // 使うAPIの定義 \n        google.setOnLoadCallback(\n            gauge = function(temp, hum, pres, lit) {\n                var data = google.visualization.arrayToDataTable([\n                    [       '',  ''],\n                    ['℃', temp]\n                ]);\n                var options = {\n                    min:         -10, max:       50,  // 範囲\n                    redFrom:    36, redTo:      50,  // 赤の範囲\n                    yellowFrom: 30, yellowTo:   36,  // 黄色の範囲\n                    //greenFrom:  18, greenTo     28,   // 緑の範囲\n                    majorTicks : ['-10','0','10','20','30','40','50'],\n                    minorTicks: 5    // 小目盛りの単位 (デフォルトは 2)\n                };\n                \n                var data1 = google.visualization.arrayToDataTable([\n                    [       '',  ''],\n                    ['%',  hum]\n                ]);\n                var options1 = {\n                    min:         0, max:       100,  // 範囲\n                    redFrom:    80, redTo:      100,  // 赤の範囲\n                    yellowFrom: 70, yellowTo:   80,  // 黄色の範囲\n                    //greenFrom:  45, greenTo     65,   // 緑の範囲            \n                    majorTicks : ['0','20','40','60','80','100'],\n                    minorTicks: 5    // 小目盛りの単位 (デフォルトは 2)\n                };        \n        \n                var data2 = google.visualization.arrayToDataTable([\n                    [       '',  ''],\n                    ['hPa', pres]\n                ]);\n                var options2 = {\n                    min:         900, max:       1100,  // 範囲\n                    redFrom:    930, redTo:      960,  // 赤の範囲\n                    yellowFrom: 960, yellowTo:   990,  // 黄色の範囲\n                    //greenFrom:  45, greenTo     65,   // 緑の範囲            \n                    majorTicks : ['900','950','1000','1050','1100'],\n                    minorTicks: 5    // 小目盛りの単位 (デフォルトは 2)\n                };  \n                \n                var data3 = google.visualization.arrayToDataTable([\n                    [       '',  ''],\n                    ['lx', lit]\n                ]);\n                var options3 = {\n                    min:         0, max:       1000,  // 範囲\n                    //redFrom:    930, redTo:      950,  // 赤の範囲\n                    //yellowFrom: 970, yellowTo:   990,  // 黄色の範囲\n                    //greenFrom:  45, greenTo     65,   // 緑の範囲            \n                    majorTicks : ['0','200','400','600','800','1000'],\n                    minorTicks: 5    // 小目盛りの単位 (デフォルトは 2)\n                };  \n        \n                var chart = new google.visualization.Gauge(\n                    document.getElementById(\"gauge\"));\n                var chart1 = new google.visualization.Gauge(\n                    document.getElementById(\"gauge1\"));            \n                var chart2 = new google.visualization.Gauge(\n                    document.getElementById(\"gauge2\"));  \n                var chart3 = new google.visualization.Gauge(\n                    document.getElementById(\"gauge3\"));              \n                chart.draw(data, options);\n                chart1.draw(data1, options1);\n                chart2.draw(data2, options2);\n                chart3.draw(data3, options3);        \n            }\n        );\n        \n        // **** 時刻表示を毎秒コール　****\n        setInterval( \"myFunc()\", 1000 );\n        // **** 毎時、毎時30分に言葉送信　 ****\n        //setInterval( \"sendMessage()\", 1000 );       \n\n\n        \n    </script>\n    \n    \n    <!--/*%_skip_start_%*/-->\n    <script type=\"text/javascript\">\n    // **** ボタン類の表示初期設定\n        document.getElementById(\"peoplebutton\").style.display=\"none\";\n    </script>\n    \n\n</body>\n</html>\n<!--/*%_skip_end_%*/-->\n\n","output":"str","x":330,"y":120,"wires":[["9d53ef63.41d7b"]]},{"id":"ce8da420.9c3548","type":"mqtt in","z":"ca730d58.942f4","name":"","topic":"iotgadget3/RasPiPot2","qos":"2","datatype":"auto","broker":"7c857db9.373444","x":220,"y":220,"wires":[["32355851.4e17b8","7258e661.4b97e8"]]},{"id":"32355851.4e17b8","type":"debug","z":"ca730d58.942f4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":240,"wires":[]},{"id":"f1e7d55b.69d0d8","type":"debug","z":"ca730d58.942f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":940,"y":180,"wires":[]}]
